{
  "openapi": "3.0.1",
  "info": {
    "title": "JEWebAPI",
    "description": "ASP.NET Core Web API for JurisEvolution",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://lab.api.3emanagement.com/sb4/JEWebApi",
      "description": "Developpement"
    }
  ],
  "paths": {
    "/api/actors": {
      "post": {
        "tags": [
          "Actor"
        ],
        "summary": "Returns a list of actors.\r\nHaving the offset at -1 will return the count.",
        "parameters": [
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JEWebAPI.Forms.ActorsFilteredListForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of actors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.ViewModel.Business.ActorViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/actors/filters": {
      "post": {
        "tags": [
          "Actor"
        ],
        "summary": "Return a list of available filters for actors",
        "parameters": [
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JEWebAPI.Forms.ActorsFilteredListForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.ViewModel.Filters.FilterViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/shared/classificationdef/{classId}": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "return a list classification definitions by class Id",
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of classification definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.ClassificationDefViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/shared/classificationdefitems/{id}": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "return a list of classification items from classification definition Id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of classification items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.ClassificationItemViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/clients": {
      "post": {
        "tags": [
          "Client"
        ],
        "summary": "Returns a list of clients.\r\nHaving the offset at -1 will return the count.",
        "parameters": [
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JEWebAPI.Controllers.IndexedClientListForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.Controllers.IndexedClientViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/clients/filters": {
      "post": {
        "tags": [
          "Client"
        ],
        "summary": "Return a list of available filters for clients",
        "parameters": [
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JEWebAPI.Controllers.IndexedClientListForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.ViewModel.Filters.FilterViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/corporationInfos": {
      "post": {
        "tags": [
          "CorpoInfo"
        ],
        "summary": "Returns a list of corporationInfos.\r\nHaving the offset at -1 will return the count.",
        "parameters": [
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JEWebAPI.Forms.FilteredListForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of corporationInfos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.ViewModel.CorporationInfoListViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/corporationInfos/filters": {
      "post": {
        "tags": [
          "CorpoInfo"
        ],
        "summary": "Return a list of available filters for corporationInfos",
        "parameters": [
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JEWebAPI.Forms.FilteredListForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.ViewModel.Filters.FilterViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/employees": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Returns a list of employees.\r\nHaving the offset at -1 will return the count.",
        "parameters": [
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JEWebAPI.Forms.EmployeeListForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of employees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.EmployeeListViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/employees/filters": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Return a list of available filters for employees",
        "parameters": [
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JEWebAPI.Forms.EmployeeListForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.ViewModel.Filters.FilterViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/9.0/matter/referencepersonroles/{matterTypeSystemId}": {
      "get": {
        "tags": [
          "Matter90"
        ],
        "summary": "Returns a list of reference person roles.",
        "parameters": [
          {
            "name": "matterTypeSystemId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of reference person roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.ClassificationItemViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/9.0/matter/intervenorroles/{matterTypeSystemId}": {
      "get": {
        "tags": [
          "Matter90"
        ],
        "summary": "Returns a list of intervenor roles.",
        "parameters": [
          {
            "name": "matterTypeSystemId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of intervenor roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.ClassificationItemViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/9.0/matter/relationroles": {
      "get": {
        "tags": [
          "Matter90"
        ],
        "summary": "Returns a list of relation roles.",
        "parameters": [
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of relation roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.ClassificationItemViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/9.0/matter/{matterId}": {
      "get": {
        "tags": [
          "Matter90"
        ],
        "summary": "Get or Save a matter",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "description": "0 if new matter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The matter",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.MatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.CorporateBookMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.MatterManagerMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.LegalOpinionMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.OtherMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.DevMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.CivilMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.SupplierMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.ClientMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.CriminalMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.FamilyMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.BusinessLawMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.BusinessFormMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.EmployeeMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.TAQMatterViewModel"
                    }
                  ],
                  "description": "Viewmodel of a matter"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JEWebAPI.ViewModel.ErrorViewModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Matter90"
        ],
        "summary": "Get or Save a matter",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "description": "0 if new matter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JEWebAPI.Forms.MatterModelForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The matter",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.MatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.CorporateBookMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.MatterManagerMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.LegalOpinionMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.OtherMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.DevMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.CivilMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.SupplierMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.ClientMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.CriminalMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.FamilyMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.BusinessLawMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.BusinessFormMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.EmployeeMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.TAQMatterViewModel"
                    }
                  ],
                  "description": "Viewmodel of a matter"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JEWebAPI.ViewModel.ErrorViewModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/9.0/matter/{matterId}/validate": {
      "post": {
        "tags": [
          "Matter90"
        ],
        "summary": "Validates the matter",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "description": "0 if new matter",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JEWebAPI.Forms.MatterModelForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JEWebAPI.ViewModel.ErrorViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JEWebAPI.ViewModel.ErrorViewModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/9.0/matter/initialize/{matterTypeId}": {
      "get": {
        "tags": [
          "Matter90"
        ],
        "summary": "Initialize a new matter of a specified type",
        "parameters": [
          {
            "name": "matterTypeId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newly initialized matter",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.MatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.CorporateBookMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.MatterManagerMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.LegalOpinionMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.OtherMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.DevMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.CivilMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.SupplierMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.ClientMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.CriminalMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.FamilyMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.BusinessLawMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.BusinessFormMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.EmployeeMatterViewModel"
                    },
                    {
                      "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.TAQMatterViewModel"
                    }
                  ],
                  "description": "Viewmodel of a matter"
                }
              }
            }
          },
          "400": {
            "description": "Could not create the matter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/9.0/matter/create/list": {
      "get": {
        "tags": [
          "Matter90"
        ],
        "summary": "Returns a list of matter types allowed for matter creation",
        "parameters": [
          {
            "name": "supplierOnly",
            "in": "query",
            "description": "",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of matter types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.ViewModel.Business.BusinessClassificationItemViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JEWebAPI.ViewModel.ErrorViewModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/9.0/matter/{matterId}/openclose": {
      "get": {
        "tags": [
          "Matter90"
        ],
        "summary": "Open or close a matter",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The matter open/closing info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.MatterClosingViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JEWebAPI.ViewModel.ErrorViewModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Matter90"
        ],
        "summary": "Open or close a matter",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JEWebAPI.Forms.MatterClosingModelForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The matter open/closing info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.MatterClosingViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JEWebAPI.ViewModel.ErrorViewModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/9.0/matter/{matterId}/canclose": {
      "get": {
        "tags": [
          "Matter90"
        ],
        "summary": "Verify if can close a matter",
        "parameters": [
          {
            "name": "matterId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 1 if can close matter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JEWebAPI.ViewModel.ErrorViewModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/suppliers": {
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Returns a list of suppliers.\r\nHaving the offset at -1 will return the count.",
        "parameters": [
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JEWebAPI.Controllers.IndexedSupplierListForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of suppliers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.Controllers.IndexedSupplierViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    },
    "/api/suppliers/filters": {
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Return a list of available filters for suppliers",
        "parameters": [
          {
            "name": "Language",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientKey",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JEWebAPI.Controllers.IndexedSupplierListForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JEWebAPI.ViewModel.Filters.FilterViewModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              null
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "JC.Core.AssigneeType": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5
        ],
        "type": "integer",
        "description": "<p>Members:</p><ul></ul>",
        "format": "int32"
      },
      "JC.Core.BusinessTools.EmployeeViewType": {
        "enum": [
          0,
          1,
          2,
          3
        ],
        "type": "integer",
        "description": "<p>Members:</p><ul></ul>",
        "format": "int32"
      },
      "JC.Core.Corporate.DataObjects.AccountantRoles": {
        "enum": [
          0,
          1
        ],
        "type": "integer",
        "description": "<p>Members:</p><ul></ul>",
        "format": "int32"
      },
      "JC.Core.DataObjects.ActorType": {
        "enum": [
          0,
          1,
          2,
          3
        ],
        "type": "integer",
        "description": "<p>Members:</p><ul></ul>",
        "format": "int32"
      },
      "JC.Core.DataObjects.Gender": {
        "enum": [
          0,
          1
        ],
        "type": "integer",
        "description": "<p>Members:</p><ul></ul>",
        "format": "int32"
      },
      "JC.Core.DataObjects.PropertyDataType": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5
        ],
        "type": "integer",
        "description": "<p>Members:</p><ul></ul>",
        "format": "int32"
      },
      "JC.Core.DataObjects.PublishedFileFormat": {
        "enum": [
          0,
          1,
          2,
          3
        ],
        "type": "integer",
        "description": "<p>Members:</p><ul></ul>",
        "format": "int32"
      },
      "JC.Core.MetaData.CustomMatterMetaData": {
        "type": "object",
        "properties": {
          "customMatterMetaDataKeyValues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JC.Core.MetaData.CustomMatterMetaDataKeyValue"
            },
            "nullable": true
          },
          "typeName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "JC.Core.MetaData.CustomMatterMetaDataDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "nullable": true
          },
          "label": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "dataType": {
            "$ref": "#/components/schemas/JC.Core.MetaData.CustomMatterMetaDataType"
          },
          "data": {
            "$ref": "#/components/schemas/JC.Core.MetaData.CustomMatterMetaDataKeyValue"
          }
        },
        "additionalProperties": false
      },
      "JC.Core.MetaData.CustomMatterMetaDataDefSection": {
        "type": "object",
        "properties": {
          "sectionName": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "customMetaDataDefs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JC.Core.MetaData.CustomMatterMetaDataDef"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JC.Core.MetaData.CustomMatterMetaDataKeyValue": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "nullable": true
          },
          "boolValue": {
            "type": "boolean",
            "nullable": true
          },
          "dateValue": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "stringValue": {
            "type": "string",
            "nullable": true
          },
          "integerValue": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "decimalValue": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JC.Core.MetaData.CustomMatterMetaDataType": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6
        ],
        "type": "integer",
        "description": "<p>Members:</p><ul></ul>",
        "format": "int32"
      },
      "JC.Core.MetaData.MatterTypeDefMetaData": {
        "type": "object",
        "properties": {
          "authorizedActorsWarning": {
            "type": "boolean"
          },
          "customMetaDataDefSections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JC.Core.MetaData.CustomMatterMetaDataDefSection"
            },
            "nullable": true
          },
          "typeName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Controllers.CorpoAgentViewModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "corpoId": {
            "type": "integer",
            "format": "int32"
          },
          "actorId": {
            "type": "integer",
            "format": "int32"
          },
          "actorName": {
            "type": "string",
            "nullable": true
          },
          "responsibleId": {
            "type": "integer",
            "format": "int32"
          },
          "responsibleName": {
            "type": "string",
            "nullable": true
          },
          "jurisdictionId": {
            "type": "integer",
            "format": "int32"
          },
          "jurisdictionName": {
            "type": "string",
            "nullable": true
          },
          "functionId": {
            "type": "integer",
            "format": "int32"
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isMoralActor": {
            "type": "boolean"
          },
          "mergedFromActorId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "collectionItemState": {
            "$ref": "#/components/schemas/JEWebAPI.Core.CollectionItemState"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Controllers.IndexedClientListForm": {
        "type": "object",
        "properties": {
          "activeViewType": {
            "$ref": "#/components/schemas/JEWebAPI.Core.ActiveViewType"
          },
          "filtersKey": {
            "type": "string",
            "nullable": true
          },
          "filter": {
            "type": "string",
            "nullable": true
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.GenericFilterForm"
            },
            "nullable": true
          },
          "defaultFilters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.GenericFilterForm"
            },
            "nullable": true
          },
          "offset": {
            "type": "integer",
            "format": "int32"
          },
          "limit": {
            "type": "integer",
            "format": "int32"
          },
          "sortingOrder": {
            "type": "integer",
            "format": "int32"
          },
          "sortingField": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Controllers.IndexedClientViewModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "actorId": {
            "type": "integer",
            "format": "int32"
          },
          "number": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "actorName": {
            "type": "string",
            "nullable": true
          },
          "actorType": {
            "$ref": "#/components/schemas/JC.Core.DataObjects.ActorType"
          },
          "actorGender": {
            "$ref": "#/components/schemas/JC.Core.DataObjects.Gender"
          },
          "actorEnd": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actorIsLawyer": {
            "type": "boolean"
          },
          "responsibleActorName": {
            "type": "string",
            "nullable": true
          },
          "attentionActorName": {
            "type": "string",
            "nullable": true
          },
          "otherResult": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Controllers.IndexedSupplierListForm": {
        "type": "object",
        "properties": {
          "filtersKey": {
            "type": "string",
            "nullable": true
          },
          "filter": {
            "type": "string",
            "nullable": true
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.GenericFilterForm"
            },
            "nullable": true
          },
          "defaultFilters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.GenericFilterForm"
            },
            "nullable": true
          },
          "offset": {
            "type": "integer",
            "format": "int32"
          },
          "limit": {
            "type": "integer",
            "format": "int32"
          },
          "sortingOrder": {
            "type": "integer",
            "format": "int32"
          },
          "sortingField": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Controllers.IndexedSupplierViewModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "actorId": {
            "type": "integer",
            "format": "int32"
          },
          "number": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "actorName": {
            "type": "string",
            "nullable": true
          },
          "actorType": {
            "$ref": "#/components/schemas/JC.Core.DataObjects.ActorType"
          },
          "actorGender": {
            "$ref": "#/components/schemas/JC.Core.DataObjects.Gender"
          },
          "actorEnd": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actorIsLawyer": {
            "type": "boolean"
          },
          "attentionActorName": {
            "type": "string",
            "nullable": true
          },
          "glAccountNumber": {
            "type": "string",
            "nullable": true
          },
          "otherResult": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Controllers.StenographyForm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "descriptionFR": {
            "type": "string",
            "nullable": true
          },
          "descriptionEN": {
            "type": "string",
            "nullable": true
          },
          "classifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.ClassificationItemLinkForm"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Controllers.StenographyViewModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "descriptionFR": {
            "type": "string",
            "nullable": true
          },
          "descriptionEN": {
            "type": "string",
            "nullable": true
          },
          "classifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.ViewModel.Business.BusinessClassificationItemLinkViewModel"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Core.ActiveViewType": {
        "enum": [
          0,
          1,
          2
        ],
        "type": "integer",
        "description": "<p>Members:</p><ul></ul>",
        "format": "int32"
      },
      "JEWebAPI.Core.AddrType": {
        "enum": [
          0,
          1
        ],
        "type": "integer",
        "description": "<p>Members:</p><ul></ul>",
        "format": "int32"
      },
      "JEWebAPI.Core.CollectionItemState": {
        "enum": [
          0,
          1,
          2,
          3
        ],
        "type": "integer",
        "description": "<p>Members:</p><ul></ul>",
        "format": "int32"
      },
      "JEWebAPI.Forms.ActorRefForm": {
        "type": "object",
        "properties": {
          "clientNumber": {
            "type": "string",
            "description": "Client number to use for referencing the actor",
            "nullable": true
          },
          "idNumberDescriptor": {
            "type": "string",
            "description": "Descriptor of the the IdNumber to use for referencing the actor",
            "nullable": true
          },
          "idNumberValue": {
            "type": "string",
            "description": "Value of the the IdNumber to use for referencing the actor",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Form to use for referencing an actor without knowing its Id"
      },
      "JEWebAPI.Forms.ActorsFilteredListForm": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/JC.Core.DataObjects.ActorType"
          },
          "actorIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "minuteBook": {
            "type": "boolean"
          },
          "fromActorId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "filtersKey": {
            "type": "string",
            "nullable": true
          },
          "filter": {
            "type": "string",
            "nullable": true
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.GenericFilterForm"
            },
            "nullable": true
          },
          "defaultFilters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.GenericFilterForm"
            },
            "nullable": true
          },
          "offset": {
            "type": "integer",
            "format": "int32"
          },
          "limit": {
            "type": "integer",
            "format": "int32"
          },
          "sortingOrder": {
            "type": "integer",
            "format": "int32"
          },
          "sortingField": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.ClassificationDefForm": {
        "type": "object",
        "properties": {
          "isDeprecated": {
            "type": "boolean"
          },
          "isUnique": {
            "type": "boolean"
          },
          "isAlwaysVisible": {
            "type": "boolean"
          },
          "isObligatory": {
            "type": "boolean"
          },
          "isDefaultRank": {
            "type": "boolean"
          },
          "name": {
            "$ref": "#/components/schemas/JEWebAPI.Forms.LocalizableStringForm"
          },
          "defLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.ClassificationDefLinkForm"
            },
            "nullable": true
          },
          "levelTitles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.LocalizableStringForm"
            },
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.ClassificationDefLinkForm": {
        "type": "object",
        "properties": {
          "objectClassId": {
            "type": "integer",
            "format": "int32"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.ClassificationDefRefForm": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "integer",
            "description": "SystemId of the the ClassificationDef to use for referencing the ClassificationDef",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name of the the ClassificationDef to use for referencing the ClassificationDef (check in all language values)",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Form to use for referencing a ClassificationDef without knowing its Id"
      },
      "JEWebAPI.Forms.ClassificationItemForm": {
        "type": "object",
        "properties": {
          "definition": {
            "$ref": "#/components/schemas/JEWebAPI.Forms.ClassificationDefForm"
          },
          "value": {
            "$ref": "#/components/schemas/JEWebAPI.Forms.LocalizableStringForm"
          },
          "isActive": {
            "type": "boolean"
          },
          "isSelectable": {
            "type": "boolean"
          },
          "itemParentId": {
            "type": "integer",
            "format": "int32"
          },
          "basedOnSystemId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "isDefaultRank": {
            "type": "boolean"
          },
          "matterTypeDef": {
            "$ref": "#/components/schemas/JC.Core.MetaData.MatterTypeDefMetaData"
          },
          "roleObjectLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.ProfileModelForm"
            },
            "nullable": true
          },
          "groupId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.ClassificationItemLinkForm": {
        "type": "object",
        "properties": {
          "classificationItem": {
            "$ref": "#/components/schemas/JEWebAPI.Forms.ClassificationItemForm"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.ClassificationItemLinkModelForm": {
        "type": "object",
        "properties": {
          "classificationItemId": {
            "type": "integer",
            "description": "Id of the classification item",
            "format": "int32"
          },
          "classificationItemRef": {
            "$ref": "#/components/schemas/JEWebAPI.Forms.ClassificationItemRefForm"
          },
          "classificationDefId": {
            "type": "integer",
            "description": "Id of the classification definition",
            "format": "int32"
          },
          "classificationDefRef": {
            "$ref": "#/components/schemas/JEWebAPI.Forms.ClassificationDefRefForm"
          },
          "rank": {
            "type": "integer",
            "description": "Rank of the classification link",
            "format": "int32"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "Form for classification item links"
      },
      "JEWebAPI.Forms.ClassificationItemRefForm": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "integer",
            "description": "SystemId of the the ClassificationItem to use for referencing the ClassificationItem",
            "format": "int32"
          },
          "value": {
            "type": "string",
            "description": "Value of the the ClassificationItem to use for referencing the ClassificationItem (check in all language values)",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Form to use for referencing a ClassificationItem without knowing its Id"
      },
      "JEWebAPI.Forms.ColleagueCollectionItemModelForm": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "integer",
            "format": "int32"
          },
          "roleId": {
            "type": "integer",
            "format": "int32"
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.EmployeeListForm": {
        "type": "object",
        "properties": {
          "userViewType": {
            "$ref": "#/components/schemas/JC.Core.BusinessTools.EmployeeViewType"
          },
          "activeViewType": {
            "$ref": "#/components/schemas/JEWebAPI.Core.ActiveViewType"
          },
          "actorName": {
            "type": "string",
            "nullable": true
          },
          "userRestriction": {
            "type": "string",
            "nullable": true
          },
          "searchExact": {
            "type": "boolean"
          },
          "filtersKey": {
            "type": "string",
            "nullable": true
          },
          "filter": {
            "type": "string",
            "nullable": true
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.GenericFilterForm"
            },
            "nullable": true
          },
          "defaultFilters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.GenericFilterForm"
            },
            "nullable": true
          },
          "offset": {
            "type": "integer",
            "format": "int32"
          },
          "limit": {
            "type": "integer",
            "format": "int32"
          },
          "sortingOrder": {
            "type": "integer",
            "format": "int32"
          },
          "sortingField": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.ExternalMandateCollectionItemModelForm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "supplierId": {
            "type": "integer",
            "format": "int32"
          },
          "representativeId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "referenceNumber": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "matterId": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.FeeModelForm": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "startsOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "endsOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "level": {
            "$ref": "#/components/schemas/JEWebAPI.Forms.ClassificationItemForm"
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.FilterItemForm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "stringId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.FilteredListForm": {
        "type": "object",
        "properties": {
          "filtersKey": {
            "type": "string",
            "nullable": true
          },
          "filter": {
            "type": "string",
            "nullable": true
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.GenericFilterForm"
            },
            "nullable": true
          },
          "defaultFilters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.GenericFilterForm"
            },
            "nullable": true
          },
          "offset": {
            "type": "integer",
            "format": "int32"
          },
          "limit": {
            "type": "integer",
            "format": "int32"
          },
          "sortingOrder": {
            "type": "integer",
            "format": "int32"
          },
          "sortingField": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.GenericFilterForm": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "values": {
            "type": "array",
            "items": { },
            "nullable": true
          },
          "min": {
            "nullable": true
          },
          "max": {
            "nullable": true
          },
          "filterItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.FilterItemForm"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.IntervenorCollectionItemModelForm": {
        "type": "object",
        "properties": {
          "actorId": {
            "type": "integer",
            "description": "Id of the actor representing this intervenor",
            "format": "int32"
          },
          "actorRef": {
            "$ref": "#/components/schemas/JEWebAPI.Forms.ActorRefForm"
          },
          "roleId": {
            "type": "integer",
            "description": "Id of the role of this intervenor (used for reference person only)",
            "format": "int32"
          },
          "roleRef": {
            "$ref": "#/components/schemas/JEWebAPI.Forms.ClassificationItemRefForm"
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.ClassificationItemLinkModelForm"
            },
            "description": "roles of this intervenor (used for intervenor who arent reference person)",
            "nullable": true
          },
          "partieAdverse": {
            "type": "boolean",
            "description": "Specify if this intervenor is of opposing party"
          },
          "referenceNumber": {
            "type": "string",
            "description": "The reference number of this intervenor",
            "nullable": true
          },
          "relations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.IntervenorRelationCollectionItemModelForm"
            },
            "description": "Relations of this intervenor",
            "nullable": true
          },
          "isReferencePerson": {
            "type": "boolean",
            "description": "specify if this intervenor is a reference person"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "Form for an intervenor"
      },
      "JEWebAPI.Forms.IntervenorRelationCollectionItemModelForm": {
        "type": "object",
        "properties": {
          "actorId": {
            "type": "integer",
            "description": "Id of the actor representing this intervenor relation",
            "format": "int32"
          },
          "actorRef": {
            "$ref": "#/components/schemas/JEWebAPI.Forms.ActorRefForm"
          },
          "relationId": {
            "type": "integer",
            "description": "Id of the relation to the intervenor",
            "format": "int32"
          },
          "relationRef": {
            "$ref": "#/components/schemas/JEWebAPI.Forms.ClassificationItemRefForm"
          },
          "referenceNumber": {
            "type": "string",
            "description": "The reference number of this intervenor relation",
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "Form for an intervenor relation"
      },
      "JEWebAPI.Forms.KeyValueForm": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.LocalizableStringForm": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.KeyValueForm"
            },
            "nullable": true
          },
          "systemId": {
            "type": "integer",
            "format": "int32"
          },
          "rank": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.MatterClosingModelForm": {
        "type": "object",
        "properties": {
          "note": {
            "$ref": "#/components/schemas/JEWebAPI.Forms.NoteModelForm"
          },
          "openingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "closingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "box": {
            "type": "string",
            "nullable": true
          },
          "filing": {
            "type": "string",
            "nullable": true
          },
          "closingMatterClassificationId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.MatterModelForm": {
        "type": "object",
        "properties": {
          "typeId": {
            "type": "integer",
            "description": "Id of the matter type",
            "format": "int32"
          },
          "typeRef": {
            "$ref": "#/components/schemas/JEWebAPI.Forms.ClassificationItemRefForm"
          },
          "number": {
            "type": "string",
            "description": "Number of the matter",
            "nullable": true
          },
          "language": {
            "type": "string",
            "description": "Language of the matter, represented by the two-letter form (ex: fr, en)",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description of the matter",
            "nullable": true
          },
          "referencePersons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.IntervenorCollectionItemModelForm"
            },
            "description": "Reference persons of the matter",
            "nullable": true
          },
          "intervenors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.IntervenorCollectionItemModelForm"
            },
            "description": "Intervenors of the matter",
            "nullable": true
          },
          "externalMandates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.ExternalMandateCollectionItemModelForm"
            },
            "description": "External mandates of the matter",
            "nullable": true
          },
          "notes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.NoteModelForm"
            },
            "description": "Notes of the matter",
            "nullable": true
          },
          "statusId": {
            "type": "integer",
            "description": "Id of the matter status",
            "format": "int32",
            "nullable": true
          },
          "statusRef": {
            "$ref": "#/components/schemas/JEWebAPI.Forms.ClassificationItemRefForm"
          },
          "tarificationId": {
            "type": "integer",
            "description": "Id of the matter's pricing mode",
            "format": "int32"
          },
          "tarificationRefValue": {
            "type": "string",
            "description": "Reference value of the matter's pricing mode",
            "nullable": true
          },
          "fixedPrice": {
            "type": "number",
            "description": "The amount of the fixed price if the matter's pricing mode is fixed price",
            "format": "double"
          },
          "classifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.ClassificationItemLinkModelForm"
            },
            "description": "Classifications of the matter",
            "nullable": true
          },
          "infoBureauId": {
            "type": "integer",
            "description": "Id of the office of the matter",
            "format": "int32"
          },
          "infoBureauIdentifier": {
            "type": "string",
            "description": "Identifier of the office of the matter",
            "nullable": true
          },
          "peekedNumber": {
            "type": "string",
            "nullable": true
          },
          "numberPrefixe": {
            "type": "string",
            "nullable": true
          },
          "numberSequence": {
            "type": "string",
            "nullable": true
          },
          "numberSuffixe": {
            "type": "string",
            "nullable": true
          },
          "numberExpressionParts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.NumberExpressionPartForm"
            },
            "nullable": true
          },
          "disableNumberValidation": {
            "type": "boolean"
          },
          "forActorId": {
            "type": "integer",
            "format": "int32"
          },
          "legalFormId": {
            "type": "integer",
            "format": "int32"
          },
          "currentLegalSystemId": {
            "type": "integer",
            "format": "int32"
          },
          "foundVersion": {
            "type": "string",
            "nullable": true
          },
          "fixedVersion": {
            "type": "string",
            "nullable": true
          },
          "verifiedVersion": {
            "type": "string",
            "nullable": true
          },
          "appealAmount": {
            "type": "number",
            "format": "double"
          },
          "appealDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "receptionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "settlementAmount": {
            "type": "number",
            "format": "double"
          },
          "weddingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "divorceDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "adoptionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "judgmentChildSupportDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "courtNumber": {
            "type": "string",
            "nullable": true
          },
          "juridictionName": {
            "type": "string",
            "nullable": true
          },
          "eventDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "eventLocation": {
            "type": "string",
            "nullable": true
          },
          "isInvestigated": {
            "type": "boolean"
          },
          "prescriptionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "riskOfLoss": {
            "type": "number",
            "format": "double"
          },
          "significationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "employeeActorId": {
            "type": "integer",
            "format": "int32"
          },
          "colleagues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.ColleagueCollectionItemModelForm"
            },
            "nullable": true
          },
          "fees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Forms.FeeModelForm"
            },
            "nullable": true
          },
          "stenographies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.Controllers.StenographyForm"
            },
            "nullable": true
          },
          "defaultActivityAssignees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.DefaultActivityAssigneeViewModel"
            },
            "nullable": true
          },
          "courtNoOne": {
            "type": "string",
            "nullable": true
          },
          "courtNoTwo": {
            "type": "string",
            "nullable": true
          },
          "courtNoThree": {
            "type": "string",
            "nullable": true
          },
          "parentId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "childMatterIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "previousInstanceId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "customMetaData": {
            "$ref": "#/components/schemas/JC.Core.MetaData.CustomMatterMetaData"
          },
          "referencements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JEWebAPI.ViewModel.Models.ReferencementViewModel"
            },
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "description": "Form used for matters"
      },
      "JEWebAPI.Forms.NoteModelForm": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.NumberExpressionPartForm": {
        "type": "object",
        "properties": {
          "isEditable": {
            "type": "boolean"
          },
          "part": {
            "type": "string",
            "nullable": true
          },
          "originalPart": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.Forms.ProfileModelForm": {
        "type": "object",
        "properties": {
          "roleId": {
            "type": "integer",
            "format": "int32"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.PublishedFileListItemViewModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "fileFormat": {
            "$ref": "#/components/schemas/JC.Core.DataObjects.PublishedFileFormat"
          },
          "matterId": {
            "type": "integer",
            "format": "int32"
          },
          "matterNumber": {
            "type": "string",
            "nullable": true
          },
          "matterDescription": {
            "type": "string",
            "nullable": true
          },
          "matterClient": {
            "type": "string",
            "nullable": true
          },
          "matterResponsible": {
            "type": "string",
            "nullable": true
          },
          "matterClientResponsible": {
            "type": "string",
            "nullable": true
          },
          "publishedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "modifiedBy": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.ViewModel.Business.AccountantViewModel": {
        "type": "object",
        "properties": {
          "role": {
            "$ref": "#/components/schemas/JC.Core.Corporate.DataObjects.AccountantRoles"
          },
          "accountantFirmDisplayName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "accountantFirmId": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "readOnly": true
          },
          "contact": {
            "$ref": "#/components/schemas/JEWebAPI.ViewModel.Business.DisplayedNameActorViewModel"
          },
          "addressRef": {
            "$ref": "#/components/schemas/JEWebAPI.ViewModel.Business.AddressViewModel"
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "readOnly": true
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "readOnly": true
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "classId": {
            "type": "integer",
            "format": "int32"
          },
          "storageName": {
            "type": "string",
            "nullable": true
          },
          "fullyLoaded": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.ViewModel.Business.ActorBaseViewModel": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/JC.Core.DataObjects.ActorType"
          },
          "displayName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "classId": {
            "type": "integer",
            "format": "int32"
          },
          "storageName": {
            "type": "string",
            "nullable": true
          },
          "fullyLoaded": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.ViewModel.Business.ActorMatterViewModel": {
        "type": "object",
        "properties": {
          "parentMatterId": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "parentMatterNumber": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "matterId": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "matterDescription": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "relations": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "indexedMatter": {
            "$ref": "#/components/schemas/JEWebAPI.ViewModel.Business.IndexedMatterViewModel"
          },
          "parentIndexedMatter": {
            "$ref": "#/components/schemas/JEWebAPI.ViewModel.Business.IndexedMatterViewModel"
          }
        },
        "additionalProperties": false
      },
      "JEWebAPI.ViewModel.Business.ActorViewModel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "nameEN": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "displayFrenchNameByDefault": {
            "type": "boolean",
            "readOnly": true
          },
          "language": {
[...]
