openapi: 3.0.1
info:
  title: JEWebAPI
  description: ASP.NET Core Web API for JurisEvolution
  version: v1
servers:
  - url: 'https://lab.api.3emanagement.com/sb1/JEWebApi'
    description: Developpement
paths:
  /api/accesstypes/list:
    post:
      tags:
        - AccessType
      summary: Gets the access type item list.
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JEWebAPI.Forms.FilteredListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.GdeFolderListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.Matters.Ledger.AccountStatementAvailableMattersListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.Matters.Ledger.CheckListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.Matters.Ledger.FinancialTemplateListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.GeneralLedger.BankReconciliationsListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.GeneralLedger.GeneralLedgerAccountListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.ActorsFilteredListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.LawyerRateFilteredListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.UserSessionListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ExternalImportFilteredListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ActivityCodeMappingListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ActorRelationsFilteredListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.ClientStatsListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.CorpoActorReportForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ExcelTemplateListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ExternalGdeDocListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ExternalOutlayListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.FileDefinitionListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ActivityDefinitionListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.EmployeeListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.FeeListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.TemplateGuideListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.TimesheetListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.GdeFolderTemplateListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.IdNumberReportForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedActivitiesListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.IndexedGdeDocListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedGeneralLedgerTransactionListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.IndexedMatterListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.IndexedPlanningsListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedSubledgerTransactionListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedWorkInProgressListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.MatterActorsListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.RequestFilteredListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.InvoiceDraftListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.OtherNameReportForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.PublishedFileListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.SearchListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ToDoTaskListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.UserLoginReportListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Core.Incorporation.ESCPreSearchListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Core.Incorporation.CRACPreSearchListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.IndexedClientListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.CorpoAgentReportForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.IndexedSupplierListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.AddressReportForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.BusinessObjectHistoryListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.DashboardItemListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ActorActivityRelationsFilteredListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.EntityManagementListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.InvoicableActivityListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.PPAListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.JurisDocTemplateListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.MatterDocsListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.MatterPersonReferenceListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ReportsFiltersTemplateForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.AccountAgingListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.TECAgingListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ShareholderReportForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.StenoListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.SystemClassificationListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.Matters.Ledger.ClientAssetListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.GeneralLedger.InvoicedActivityReportListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.BusinessConnectController+BCCallListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.BusinessConnectController+BCMessageListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ChatController+ChatListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.PurchaseActivityReportController+PurchaseActivityReportListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.MatterFormController+FormListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.MatterFormController+MatterFormItemListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ShareCategoryController+ShareCategoryListForm
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JEWebAPI.Forms.FilteredListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.GdeFolderListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.Matters.Ledger.AccountStatementAvailableMattersListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.Matters.Ledger.CheckListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.Matters.Ledger.FinancialTemplateListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.GeneralLedger.BankReconciliationsListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.GeneralLedger.GeneralLedgerAccountListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.ActorsFilteredListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.LawyerRateFilteredListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.UserSessionListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ExternalImportFilteredListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ActivityCodeMappingListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ActorRelationsFilteredListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.ClientStatsListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.CorpoActorReportForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ExcelTemplateListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ExternalGdeDocListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ExternalOutlayListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.FileDefinitionListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ActivityDefinitionListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.EmployeeListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.FeeListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.TemplateGuideListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.TimesheetListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.GdeFolderTemplateListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.IdNumberReportForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedActivitiesListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.IndexedGdeDocListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedGeneralLedgerTransactionListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.IndexedMatterListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.IndexedPlanningsListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedSubledgerTransactionListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedWorkInProgressListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.MatterActorsListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.RequestFilteredListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.InvoiceDraftListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.OtherNameReportForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.PublishedFileListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.SearchListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ToDoTaskListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.UserLoginReportListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Core.Incorporation.ESCPreSearchListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Core.Incorporation.CRACPreSearchListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.IndexedClientListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.CorpoAgentReportForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.IndexedSupplierListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.AddressReportForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.BusinessObjectHistoryListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.DashboardItemListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ActorActivityRelationsFilteredListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.EntityManagementListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.InvoicableActivityListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.PPAListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.JurisDocTemplateListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.MatterDocsListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.MatterPersonReferenceListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ReportsFiltersTemplateForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.AccountAgingListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.TECAgingListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ShareholderReportForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.StenoListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.SystemClassificationListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.Matters.Ledger.ClientAssetListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.GeneralLedger.InvoicedActivityReportListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.BusinessConnectController+BCCallListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.BusinessConnectController+BCMessageListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ChatController+ChatListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.PurchaseActivityReportController+PurchaseActivityReportListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.MatterFormController+FormListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.MatterFormController+MatterFormItemListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ShareCategoryController+ShareCategoryListForm
          text/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JEWebAPI.Forms.FilteredListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.GdeFolderListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.Matters.Ledger.AccountStatementAvailableMattersListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.Matters.Ledger.CheckListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.Matters.Ledger.FinancialTemplateListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.GeneralLedger.BankReconciliationsListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.GeneralLedger.GeneralLedgerAccountListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.ActorsFilteredListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.LawyerRateFilteredListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.UserSessionListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ExternalImportFilteredListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ActivityCodeMappingListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ActorRelationsFilteredListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.ClientStatsListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.CorpoActorReportForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ExcelTemplateListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ExternalGdeDocListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ExternalOutlayListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.FileDefinitionListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ActivityDefinitionListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.EmployeeListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.FeeListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.TemplateGuideListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.TimesheetListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.GdeFolderTemplateListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.IdNumberReportForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedActivitiesListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.IndexedGdeDocListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedGeneralLedgerTransactionListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.IndexedMatterListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.IndexedPlanningsListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedSubledgerTransactionListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedWorkInProgressListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.MatterActorsListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.RequestFilteredListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.InvoiceDraftListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.OtherNameReportForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.PublishedFileListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.SearchListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ToDoTaskListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.UserLoginReportListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Core.Incorporation.ESCPreSearchListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Core.Incorporation.CRACPreSearchListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.IndexedClientListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.CorpoAgentReportForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.IndexedSupplierListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.AddressReportForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.BusinessObjectHistoryListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.DashboardItemListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ActorActivityRelationsFilteredListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.EntityManagementListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.InvoicableActivityListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.PPAListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.JurisDocTemplateListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.MatterDocsListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.MatterPersonReferenceListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ReportsFiltersTemplateForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.AccountAgingListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.TECAgingListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ShareholderReportForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.StenoListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.SystemClassificationListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.Matters.Ledger.ClientAssetListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.GeneralLedger.InvoicedActivityReportListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.BusinessConnectController+BCCallListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.BusinessConnectController+BCMessageListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ChatController+ChatListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.PurchaseActivityReportController+PurchaseActivityReportListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.MatterFormController+FormListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.MatterFormController+MatterFormItemListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ShareCategoryController+ShareCategoryListForm
          application/*+json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JEWebAPI.Forms.FilteredListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.GdeFolderListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.Matters.Ledger.AccountStatementAvailableMattersListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.Matters.Ledger.CheckListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.Matters.Ledger.FinancialTemplateListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.GeneralLedger.BankReconciliationsListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.ViewModel.Business.GeneralLedger.GeneralLedgerAccountListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.ActorsFilteredListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.LawyerRateFilteredListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.UserSessionListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ExternalImportFilteredListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ActivityCodeMappingListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ActorRelationsFilteredListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.ClientStatsListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.CorpoActorReportForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ExcelTemplateListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ExternalGdeDocListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ExternalOutlayListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.FileDefinitionListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.ActivityDefinitionListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.EmployeeListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.FeeListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.TemplateGuideListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.TimesheetListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.GdeFolderTemplateListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.IdNumberReportForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedActivitiesListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.IndexedGdeDocListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedGeneralLedgerTransactionListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.IndexedMatterListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.IndexedPlanningsListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedSubledgerTransactionListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.IndexedWorkInProgressListForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.MatterActorsListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.RequestFilteredListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.InvoiceDraftListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.OtherNameReportForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.PublishedFileListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.SearchListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.ToDoTaskListForm'
                - $ref: '#/components/schemas/JEWebAPI.Forms.UserLoginReportListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Core.Incorporation.ESCPreSearchListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Core.Incorporation.CRACPreSearchListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.IndexedClientListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.CorpoAgentReportForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.IndexedSupplierListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.AddressReportForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.BusinessObjectHistoryListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.DashboardItemListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ActorActivityRelationsFilteredListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.EntityManagementListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.InvoicableActivityListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.PPAListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.JurisDocTemplateListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.MatterDocsListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.MatterPersonReferenceListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ReportsFiltersTemplateForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.AccountAgingListForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.TECAgingListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ShareholderReportForm
                - $ref: '#/components/schemas/JEWebAPI.Controllers.StenoListForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.SystemClassificationListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.Matters.Ledger.ClientAssetListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.GeneralLedger.InvoicedActivityReportListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.BusinessConnectController+BCCallListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.BusinessConnectController+BCMessageListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ChatController+ChatListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.PurchaseActivityReportController+PurchaseActivityReportListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.MatterFormController+FormListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.MatterFormController+MatterFormItemListForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.ShareCategoryController+ShareCategoryListForm
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  '/api/accesstypes/{accessTypeId}/validate':
    post:
      tags:
        - AccessType
      parameters:
        - name: accessTypeId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.ViewModel.AccessTypeEditViewModel'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.ViewModel.AccessTypeEditViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.ViewModel.AccessTypeEditViewModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.ViewModel.AccessTypeEditViewModel'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  '/api/accesstypes/{accessTypeId}':
    get:
      tags:
        - AccessType
      summary: Gets or updates an access type item.
      description: The permissions are not updated by this functions.
      parameters:
        - name: accessTypeId
          in: path
          description: The access type identifier.
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
    post:
      tags:
        - AccessType
      summary: Gets or updates an access type item.
      description: The permissions are not updated by this functions.
      parameters:
        - name: accessTypeId
          in: path
          description: The access type identifier.
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.ViewModel.AccessTypeEditViewModel'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.ViewModel.AccessTypeEditViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.ViewModel.AccessTypeEditViewModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.ViewModel.AccessTypeEditViewModel'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  '/api/accesstypes/clone/{accessTypeId}':
    get:
      tags:
        - AccessType
      summary: Clones an acces type.
      parameters:
        - name: accessTypeId
          in: path
          description: The access type identifier to clone.
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/accesstypes/has-multiple-access-type:
    get:
      tags:
        - AccessType
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  '/api/accesstypes/has-access-type/{featureId}/{actionId}':
    get:
      tags:
        - AccessType
      parameters:
        - name: featureId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: actionId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  '/api/accesstypes/has-access/{featureId}/{actionId}':
    get:
      tags:
        - AccessType
      parameters:
        - name: featureId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: actionId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/account/activate:
    post:
      tags:
        - Account
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivateAccountForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivateAccountForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivateAccountForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivateAccountForm'
      responses:
        '200':
          description: Success
  /api/account/create:
    post:
      tags:
        - Account
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.CreateAccountForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.CreateAccountForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.CreateAccountForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.CreateAccountForm'
      responses:
        '200':
          description: Success
  /api/account/validate-password:
    post:
      tags:
        - Account
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.ValidatePasswordViewModel
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.ValidatePasswordViewModel
          text/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.ValidatePasswordViewModel
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.ValidatePasswordViewModel
      responses:
        '200':
          description: Success
  /api/account/exists:
    post:
      tags:
        - Account
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.CreateAccountForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.CreateAccountForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.CreateAccountForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.CreateAccountForm'
      responses:
        '200':
          description: Success
  /api/account/newentity:
    post:
      tags:
        - Account
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.CreateAccountForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.CreateAccountForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.CreateAccountForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.CreateAccountForm'
      responses:
        '200':
          description: Success
  /api/account-aging-report:
    post:
      tags:
        - AccountAging
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingListForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingListForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingListForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingListForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/account-aging-report/intervals:
    get:
      tags:
        - AccountAging
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/account-aging-report/filters:
    post:
      tags:
        - AccountAging
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingListForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingListForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingListForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingListForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/account-aging-report/totals:
    post:
      tags:
        - AccountAging
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingListForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingListForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingListForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingListForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/account-aging-report/report:
    post:
      tags:
        - AccountAging
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          text/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/account-agingdetail-report/report:
    post:
      tags:
        - AccountAging
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          text/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/account-aging-collect/report:
    post:
      tags:
        - AccountAging
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          text/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/account-aging-report/xls:
    post:
      tags:
        - AccountAging
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          text/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/account-aging-report/csv:
    post:
      tags:
        - AccountAging
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          text/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/account-aging-report/matterids:
    post:
      tags:
        - AccountAging
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          text/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/account-aging-report/autorisepayments:
    post:
      tags:
        - AccountAging
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          text/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Controllers.AccountAgingListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/account-aging-report/get-open-collections:
    post:
      tags:
        - AccountAging
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingViewModel'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingViewModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Controllers.AccountAgingViewModel'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  '/api/account-aging-report/create-activity/{matterId}':
    post:
      tags:
        - AccountAging
      parameters:
        - name: matterId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/accountant/contacts:
    post:
      tags:
        - Accountant
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.AccountantForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.AccountantForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.AccountantForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.AccountantForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  '/api/activities/cancreate/{matterId}':
    get:
      tags:
        - Activities
      parameters:
        - name: matterId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/list:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.IndexedActivitiesListForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.IndexedActivitiesListForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.IndexedActivitiesListForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.IndexedActivitiesListForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/filters:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.IndexedActivitiesListForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.IndexedActivitiesListForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.IndexedActivitiesListForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.IndexedActivitiesListForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/save-filters:
    get:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JEWebAPI.Forms.SaveFiltersForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.SaveClientStatsFiltersForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.InvoicableActivitySaveFiltersForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.GdeDocSaveFiltersForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.GeneralLedger.SaveInvoicedActivityReportFiltersForm
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JEWebAPI.Forms.SaveFiltersForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.SaveClientStatsFiltersForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.InvoicableActivitySaveFiltersForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.GdeDocSaveFiltersForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.GeneralLedger.SaveInvoicedActivityReportFiltersForm
          text/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JEWebAPI.Forms.SaveFiltersForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.SaveClientStatsFiltersForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.InvoicableActivitySaveFiltersForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.GdeDocSaveFiltersForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.GeneralLedger.SaveInvoicedActivityReportFiltersForm
          application/*+json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JEWebAPI.Forms.SaveFiltersForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.SaveClientStatsFiltersForm
                - $ref: >-
                    #/components/schemas/JEWebAPI.Forms.InvoicableActivitySaveFiltersForm
                - $ref: '#/components/schemas/JEWebAPI.Forms.GdeDocSaveFiltersForm'
                - $ref: >-
                    #/components/schemas/JEWebAPI.Controllers.GeneralLedger.SaveInvoicedActivityReportFiltersForm
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/multi-delete:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          text/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/validate-multi-delete:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          text/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/validate-multi-updatetime:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JEWebAPI.Forms.ActivityUpdateDateForm'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JEWebAPI.Forms.ActivityUpdateDateForm'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JEWebAPI.Forms.ActivityUpdateDateForm'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JEWebAPI.Forms.ActivityUpdateDateForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/updatetime:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityUpdateDateForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityUpdateDateForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityUpdateDateForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityUpdateDateForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/updatestartdate:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityUpdateDateForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityUpdateDateForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityUpdateDateForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityUpdateDateForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/sync-activity-definition:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/sync-activity-times:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/syncperiodicityendingdate:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.PeriodicityModelForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.PeriodicityModelForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.PeriodicityModelForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.PeriodicityModelForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/syncperiodicitynumberofoccurences:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.PeriodicityModelForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.PeriodicityModelForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.PeriodicityModelForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.PeriodicityModelForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/statuslist:
    get:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  '/api/activities/{activityId}/validate':
    post:
      tags:
        - Activities
      parameters:
        - name: activityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
    delete:
      tags:
        - Activities
      parameters:
        - name: activityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  '/api/activities/{activityId}':
    get:
      tags:
        - Activities
      parameters:
        - name: activityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
    post:
      tags:
        - Activities
      parameters:
        - name: activityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
    delete:
      tags:
        - Activities
      parameters:
        - name: activityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.ActivityModelForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  '/api/activities/create/{matterId}':
    get:
      tags:
        - Activities
      parameters:
        - name: matterId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/times/create:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.TimeEntryModelForm'
          application/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.TimeEntryModelForm'
          text/json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.TimeEntryModelForm'
          application/*+json:
            schema:
              $ref: '#/components/schemas/JEWebAPI.Forms.TimeEntryModelForm'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/statutoryholidays:
    get:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/report:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          text/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ListViewReportParamsViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/xls:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          text/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/xls-detailed:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          text/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  /api/activities/csv-detailed:
    post:
      tags:
        - Activities
      parameters:
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          text/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.ViewModel.MultiSelectionViewModel`1[[JEWebAPI.Forms.IndexedActivitiesListForm,
                JEWebAPI, Version=1.0.0.0, Culture=neutral,
                PublicKeyToken=null]]
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
  '/api/activities/report/{activityId}':
    get:
      tags:
        - Activities
      parameters:
        - name: activityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
      security:
        - oauth2:
            - null
    post:
      tags:
        - Activities
      parameters:
        - name: activityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: Language
          in: header
          schema:
            type: string
        - name: Entity
          in: header
          required: true
          schema:
            type: string
        - name: AppKey
          in: header
          schema:
            type: string
        - name: ClientKey
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ReportTemplateParamsViewModel
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JEWebAPI.Controllers.ReportTemplateParamsViewModel
          text/json:
            schema:
              $ref: >-
[...]
